* {
	margin: 0;
	padding: 0;
}

body {
	margin: 90px 0px 90px 0px;
	background-color: pink;
}

.row {
	display: flex;
	justify-content: center;
}

.square {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

.row:nth-child(odd) .square:nth-child(odd) {
	background-color: white;
}

.row:nth-child(odd) .square:nth-child(even) {
	background-color: black;
}

.row:nth-child(even) .square:nth-child(odd) {
	background-color: black;

}

.row:nth-child(even) .square:nth-child(even) {
	background-color: white;
}